.back-primary{
  color: $white;
  background-color: $primaryColor;
}

.back-secondary{
  background-color: $secondaryColor;
  color: $white;
}

.back-tertiary{
  background-color: $tertiaryColor;
  color: $white;
}

.back-transparent{
  background-color: transparent;
  h1,h2,h3,h4,h5,h6,p{
    color: $body-color !important;
  }
}

.back-white{
  background-color: $white;
  h1,h2,h3,h4,h5,h6,p{
    color: $body-color !important;
  }
}

.back-dark{
  background-color: $primaryColor;
  h1,h2,h3,h4,h5,h6,p{
    color: $white !important;
  }
}